<%= render "shared/header" %>
<div id="map" data-controller="map">
  <input type="hidden" id="shop_latitudes" value="<%= @shops.map(&:latitude).to_json %>" data-map-target="shopLatitudes">
  <input type="hidden" id="shop_longitudes" value="<%= @shops.map(&:longitude).to_json %>" data-map-target="shopLongitudes">
  <input type="hidden" id="shop_names" value="<%= @shops.map(&:shop_name).to_json %>" data-map-target="shopNames">
  <input type="hidden" id="shop_ids" value="<%= @shops.map(&:id).to_json %>" data-map-target="shopIds">
</div>

<% if @shops.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>お店の名前</th>
        <th>住所</th>
        <th>営業時間</th>
        <th>定休日</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.shop_name %></td>
          <td><%= shop.address %></td>
          <td><%= shop.opening_hours %></td>
          <td><%= shop.closed_days %></td>
          <td><%= link_to '詳細を見る', shop_path(shop), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>該当するお店が見つかりませんでした。</p>
<% end %>

<%= render "shared/footer" %>