<div class="image-slider">
    <div class="slider-content">
      <img src="<%= asset_path('iStock-1460592275.jpg') %>" alt="Image 1">
      <img src="<%= asset_path('iStock-1227451753.jpg') %>" alt="Image 2">
      <img src="<%= asset_path('iStock-1161794704.jpg') %>" alt="Image 3">
      <img src="<%= asset_path('iStock-1161790323.jpg') %>" alt="Image 4">
      <img src="<%= asset_path('iStock-1150749127.jpg') %>" alt="Image 5">
      <img src="<%= asset_path('iStock-1128235080.jpg') %>" alt="Image 6">
      <img src="<%= asset_path('iStock-1011313826.jpg') %>" alt="Image 7">
      <img src="<%= asset_path('iStock-975500428.jpg') %>" alt="Image 8">
  </div>
</div>
<%= render "shared/header" %>

<h1>お店を検索</h1>

<%= form_with url: shops_path, method: :get, local: true do |form| %>
  <h2>店名で検索する</h2>
  <%= form.text_field :keyword, placeholder: "検索キーワードを入力", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<%= form_with url: search_by_reviews_shops_path, method: :get, local: true do |form| %>
  <h2>雰囲気で検索する</h2>
  <h2>お店の雰囲気</h2>
  <div class="form-group">
    <%= form.label :cleanliness, "清潔さ", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">ヴィンテージ</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :cleanliness, n, id: "cleanliness_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">ピカピカ</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :lighting, "照明", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">暗い</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :lighting, n, id: "lighting_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">明るい</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :music, "音楽", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">クラシック</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :music, n, id: "music_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">モダン</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :space, "広さ", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">狭い</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :space, n, id: "space_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">広い</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :vibrancy, "活気", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">しっとり</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :vibrancy, n, id: "vibrancy_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">ワイワイ</span>
    </div>
  </div>

  <h2>スタッフの雰囲気</h2>

  <div class="form-group">
    <%= form.label :order_speed, "オーダーの速さ", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">ゆったり</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :order_speed, n, id: "order_speed_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">テキパキ</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :service_style, "対応スタイル", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">ジェントル</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :service_style, n, id: "service_style_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">フレンドリー</span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :conversation, "会話", class: 'form-label' %>
    <div class="radio-group">
      <span class="extreme-label">寡黙</span>
      <% (-3..3).each do |n| %>
        <div class="radio-item">
          <%= form.radio_button :conversation, n, id: "conversation_#{n}", checked: n == 0 %>
        </div>
      <% end %>
      <span class="extreme-label">おしゃべり</span>
    </div>
  </div>

  <h2>その他</h2>

  <div class="form-group">
    <%= form.label :price_range, "価格帯", class: 'form-label' %>
    <div class="radio-group">
      <%= form.radio_button :price_range, 'ラグジュアリー' ,class: 'custom-radio'%>
      <%= form.label :price_range_luxury, "ラグジュアリー" %>
      <%= form.radio_button :price_range, 'スタンダード' ,class: 'custom-radio'%>
      <%= form.label :price_range_standard, "スタンダード" %>
      <%= form.radio_button :price_range, '',class: 'custom-radio' %>
      <%= form.label :price_range_reasonable, "リーズナブル" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :wifi, "WiFi", class: 'form-label' %>
    <div class="radio-group">
      <%= form.radio_button :wifi, 'あり' ,class: 'custom-radio'%>
      <%= form.label :wifi, "あり" %>
      <%= form.radio_button :wifi, 'なし' ,class: 'custom-radio'%>
      <%= form.label :wifi, "なし" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :smoking, "タバコ", class: 'form-label' %>
    <div class="radio-group">
      <%= form.radio_button :smoking, '店内で喫煙可',class: 'custom-radio'%>
      <%= form.label :smoking_indoor, "店内で喫煙可" %>
      <%= form.radio_button :smoking, '加熱式のみ店内可',class: 'custom-radio' %>
      <%= form.label :smoking_heated, "加熱式のみ店内可" %>
      <%= form.radio_button :smoking, '店外でなら喫煙可',class: 'custom-radio' %>
      <%= form.label :smoking_outdoor, "店外でなら喫煙可" %>
      <%= form.radio_button :smoking, '喫煙不可',class: 'custom-radio' %>
      <%= form.label :smoking_none, "喫煙不可" %>
    </div>
  </div>

  <%= form.submit "検索", class: "atmosphere-search-btn" %>
<% end %>

<%= render "shared/footer" %>